black
django
django-admin-sortable2
django-environ
django-tinymce
djangorestframework
djangorestframework-camel-case
djangorestframework-gis
gunicorn
ipython
pillow
pip-tools
pre-commit
psycopg2-binary
reorder-python-imports
